# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter & pyproject files
.ipynb_checkpoints/
pyproject.toml
.mypy_cache
.ruff_cache
*.egg-info

# Raw and processed data
data/raw/
data/processed/
!data/portfolios/

# Logs
logs/

# Secrets / credentials
.env
keys.py