# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter & pyproject files
.ipynb_checkpoints/
pyproject.toml

# Raw and processed data
data/raw/
data/processed/
!data/portfolios/

# Secrets / credentials
.env
keys.py